<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RM-Chat</title>
    <link rel="icon" href="/images/top.png" type="image/icon type">
    <link rel="stylesheet" href="/stylesheets/userHomeChats.css">
</head>
<body>    
    
    <% if(error && error.length>0){ %>
        <div id="error_flash">
            <p><%= error %></p>
        </div>
    <% } %>    
    <% if(success && success.length>0){ %>
        <div id="success_flash">
            <p><%= success %></p>
        </div>
    <% } %>

    <div class="navbar">
        <div class="logo"><img src="/images/rm_logo.png" alt="logo"></div>
        <div class="name">
            <a href="/">
                <h1>RM-Chatify</h1>
            </a>            
        </div>
        <a id="logout" href="/users/logout"><div class="links">Logout</div></a>
    </div>

    <div id="main">
        <div id="left">
            <div id="mess">Start New Chat</div>
            <div id="search">
                <form action="/users/chats/new" method="post">
                    <input id="newChat" required placeholder="Enter Name" name="name" type="text">
                    <button type="submit" id="newChatBtn" >Start</button>
                </form>
            </div>
            <div id="all">
                <% user.chats.forEach(function(chat){ %>                    
                        <% if(user._id.toString() === chat.user_1.toString()){ %>                                    
                            <a href="/users/chats/<%= chat.user_2 %>">
                        <% } else { %>
                            <a href="/users/chats/<%= chat.user_1 %>">
                        <% } %>
                        <div class="myChats">
                            <div class="pic"></div>
                            <div class="Cname">
                                <p>                                 
                                    <% if(user._id.toString() === chat.user_1.toString()){ %>                                    
                                        <%= chat.user_2_name %> 
                                    <% } else { %>
                                        <%= chat.user_1_name %>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </a>

                    
                    
                <% }) %>                
                              
            </div>
        </div>
        <div id="right">
            <div id="top">
                <div id="back"><a href="/users/chats"><img src="/images/back.png" alt="not found"></a></div>
                <div id="Rname"><p><%= reciever.name %></p></div>
                <div id="Rpic"><img src="data:image/jpeg;base64,<%= reciever.pic.toString('base64') %>" alt=""></div>
            </div>
            <div id="chatMessages">
                <% chat.messages.forEach(function(messa) { %>
                    <% if(messa.sender.toString() === user._id.toString()) { %>
                        <div class="sender">
                            <p><%= messa.data %></p>
                            <div class="imagee">
                                <img src="data:image/jpeg;base64,<%= user.pic.toString('base64') %>" alt="not found">
                            </div></div>
                    <% } else { %>
                        <div class="reciever">
                            <p><%= messa.data %></p>
                            <div class="imagee">
                                <img src="data:image/jpeg;base64,<%= reciever.pic.toString('base64') %>" alt="not found">
                            </div></div>
                    <% } %>
                <% }) %>
                                                                         
            </div>
            <div id="newMessage">
                <input id="newMessageData" required placeholder="Type Your Message" type="text">
                <button id="newMessageBtn">Send</button>
            </div>
        </div>
    </div>

    <script>
        const user = <%- JSON.stringify(user) %>;
        const reciever = <%- JSON.stringify(reciever) %>;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/userHomeChats.js"></script>
</body>
</html>