<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RM-Chat</title>
    <link rel="stylesheet" href="/stylesheets/userHomeChats.css">
</head>
<body>    
    
    <% if(error && error.length>0){ %>
        <div id="error_flash">
            <p><%= error %></p>
        </div>
    <% } %>    
    <% if(success && success.length>0){ %>
        <div id="success_flash">
            <p><%= success %></p>
        </div>
    <% } %>s

    <div class="navbar">
        <div class="logo"><img src="/images/rm_logo.png" alt="logo"></div>
        <div class="name">
            <a href="/">
                <h1>RM-Chatify</h1>
            </a>            
        </div>
        <a id="logout" href="/users/logout"><div class="links">Logout</div></a>
    </div>

    <div id="main">
        <div id="left">
            <div id="mess">Start New Chat</div>
            <div id="search">
                <form action="/users/chats/new" method="post">
                    <input id="newChat" required placeholder="Enter Name" name="name" type="text">
                    <button type="submit" id="newChatBtn" >Start</button>
                </form>
            </div>
            <div id="all">
                <% user.chats.forEach(function(chat){ %>                    
                        <% if(user._id.toString() === chat.user_1.toString()){ %>                                    
                            <a href="/users/chats/<%= chat.user_2 %>">
                        <% } else { %>
                            <a href="/users/chats/<%= chat.user_1 %>">
                        <% } %>
                        <div class="myChats">
                            <div class="pic"></div>
                            <div class="Cname">
                                <p>                                 
                                    <% if(user._id.toString() === chat.user_1.toString()){ %>                                    
                                        <%= chat.user_2_name %> 
                                    <% } else { %>
                                        <%= chat.user_1_name %>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </a>

                    
                    
                <% }) %>                
                              
            </div>
        </div>
        <div id="right">
            <div id="top">
                <div id="back"><a href="/users/chats"><img src="/images/back.png" alt="not found"></a></div>
                <div id="Rname"><p><%= reciever.name %></p></div>
                <div id="Rpic"><img src="data:image/jpeg;base64,<%= reciever.pic.toString('base64') %>" alt=""></div>
            </div>
            <div id="chatMessages">
                <% chat.messages.forEach(function(messa) { %>
                    <% if(messa.sender.toString() === user._id.toString()) { %>
                        <div class="sender">
                            <p><%= messa.data %></p>
                            <div class="imagee">
                                <img src="data:image/jpeg;base64,<%= user.pic.toString('base64') %>" alt="not found">
                            </div></div>
                    <% } else { %>
                        <div class="reciever">
                            <p><%= messa.data %></p>
                            <div class="imagee">
                                <img src="data:image/jpeg;base64,<%= reciever.pic.toString('base64') %>" alt="not found">
                            </div></div>
                    <% } %>
                <% }) %>
                             
            
                
                <!-- <div class="sender">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta reiciendis quas velit quia accusantium a, hic laboriosam in eum! Provident, voluptatum. Est, autem officia exercitationem temporibus, ab dicta, aut provident rem illo velit accusantium? Adipisci consequuntur cum expedita? Omnis eum, beatae porro quibusdam possimus consequuntur? Debitis sunt culpa cupiditate est quasi nam reiciendis doloribus modi soluta in. Mollitia, reprehenderit magni iure porro aut dolor, eum libero nemo laboriosam perferendis dignissimos doloribus dolores quos? Atque possimus iste ipsam doloremque hic reiciendis ducimus! Dolor, eum commodi. Eos delectus corporis soluta nisi voluptatum minus rerum deserunt cum natus maiores veritatis laboriosam, laborum quia minima consectetur in nam iure? Asperiores impedit voluptates laboriosam quia aut iure, itaque pariatur rem eos ex consectetur, adipisci odio veniam officiis quasi? Officia veritatis dolor sequi veniam! Labore, odio aperiam magni iusto eaque suscipit earum saepe dolorum amet ex quidem maiores quam natus pariatur neque ab iure in ad sequi? Soluta impedit animi quibusdam eum veritatis minus quisquam perspiciatis sit at incidunt totam cupiditate similique velit quia ex non quod fuga facere recusandae provident, dignissimos vitae. Enim optio ab, modi vitae tempore totam magni blanditiis porro eligendi fugiat accusantium! Earum aut praesentium repudiandae ipsam totam amet. Quod, fugiat vel voluptas aspernatur unde exercitationem nobis, deserunt impedit quos eaque est tenetur, omnis nostrum? Enim optio voluptatem aut omnis dolores, atque sit aperiam repellat quod adipisci, qui aliquam dolor, asperiores quibusdam ipsam inventore cumque odit molestias cupiditate. Architecto dolores nam at deleniti illum? Ut sunt accusantium hic quidem eum magni quae totam sequi eligendi assumenda ratione nobis, autem dolore necessitatibus id consequuntur dolores suscipit dolorum quaerat minus illum! Animi illum inventore cumque harum velit labore quia magni nam soluta adipisci, repellat suscipit at vero a! Odit placeat ducimus, adipisci tenetur, explicabo recusandae et saepe molestias quas dolorum deserunt consequatur modi. Illo.</p>    
                    <div class="imagee">
                        <img src="" alt="not found">
                    </div>                
                    
                </div>
                <div class="reciever">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, ipsa sed, fugit magni obcaecati voluptates asperiores quidem inventore eaque omnis aspernatur accusamus laudantium animi voluptate vitae ipsum quod rem quos numquam hic saepe dignissimos quia cumque eligendi! Libero consequatur consequuntur animi incidunt debitis esse. Voluptate, dolorem! Quidem quas necessitatibus inventore obcaecati? Quasi aspernatur accusamus sunt adipisci consequatur blanditiis repellat laborum assumenda placeat facilis? Eaque quas tempora odio, illo, vero tenetur adipisci corporis sed, praesentium distinctio rem dolore qui fuga iusto sapiente deserunt ab minima in. Officiis eligendi culpa incidunt iusto, vel fugiat at ab praesentium harum laborum consequuntur doloribus magni tempora doloremque? Optio, cumque. Magni nihil explicabo tempora officiis omnis! Neque sed magnam dicta laudantium totam soluta a, illum ad. Consequuntur doloribus, omnis quis officiis reiciendis alias sit doloremque nam labore, qui, animi libero quaerat laudantium accusamus quae nisi magnam ea ad nesciunt voluptatibus repellat! Aperiam vitae iure perspiciatis expedita explicabo porro eveniet, nobis, ad ullam officia exercitationem sequi nisi modi minima sed et voluptatem? Quas molestiae quos quaerat, tempora provident tempore reiciendis et quam laboriosam nobis similique consequatur illo minima sint voluptatibus quidem, velit, placeat excepturi? Necessitatibus dolor ea blanditiis incidunt saepe pariatur totam, dicta cum quod soluta suscipit ex eligendi dolore assumenda autem magnam natus id veniam ipsam tenetur vitae. Enim accusantium commodi voluptate nesciunt aut vitae tempore pariatur sapiente ducimus repellendus voluptas, aliquid fuga. Tempora ipsa quam sequi, impedit corrupti earum dolorum quae natus provident, a quos nihil pariatur? Obcaecati, assumenda quis! Repellat laborum provident officiis qui doloribus quas ad, impedit aut, a beatae ea incidunt excepturi quos, sequi magnam. Aspernatur repellat, itaque et similique quod nostrum qui ullam voluptate sed. Tenetur nam animi cupiditate unde magnam officia assumenda quasi voluptate in officiis, iure quod? Quo tempore dignissimos facilis culpa autem! Nam quos illo aut, neque est, blanditiis fugiat repellat, ut ab ipsam ex aliquam. Saepe delectus, nemo, dicta iure molestiae necessitatibus laboriosam commodi odit quo quam distinctio? Beatae facilis atque soluta ratione rem praesentium dolorem neque vitae est numquam, at illo harum ab saepe natus quas? Deserunt aspernatur iusto veritatis cupiditate. Placeat voluptate, voluptas, eos fugiat architecto repellendus aliquam soluta laborum, minus assumenda quidem corporis? Fugit voluptates ad exercitationem temporibus nulla nesciunt obcaecati ea dolorem, corporis quos sed dolorum optio, totam, consectetur accusamus sunt illo facilis atque? Minima dicta fugit sed sunt. Ea accusamus ipsam laudantium, labore quaerat quidem unde non voluptate nesciunt accusantium, magni nulla.</p>   
                    <div class="imagee">
                        <img src="" alt="not found">
                    </div>   
                </div>                 -->
            </div>
            <div id="newMessage">
                <input id="newMessageData" required placeholder="Type Your Message" type="text">
                <button id="newMessageBtn">Send</button>
            </div>
        </div>
    </div>

    <script>
        const user = <%- JSON.stringify(user) %>;
        const reciever = <%- JSON.stringify(reciever) %>;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/userHomeChats.js"></script>
</body>
</html>